In [68]:

import pandas as pd
import string

from sklearn.feature_extraction.text import TfidfVectorizer
from IPython.display import display

doc_1 = 'The cat chased a rat.'.lower()
doc_2 = 'A big rat chased the big dog.'.lower()

vectorizer = TfidfVectorizer()
vectors = vectorizer.fit_transform([doc_1, doc_2])
feature_names = vectorizer.get_feature_names_out()
dense = vectors.todense()
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=feature_names, index=['Doc 1', 'Doc 2'])

display(df)

            big       cat    chased       dog       rat       the
Doc 1  0.000000  0.630099  0.448321  0.000000  0.448321  0.448321
Doc 2  0.783337  0.000000  0.278675  0.391668  0.278675  0.278675

In [69]:
import nltk

from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
 
lemmatizer = WordNetLemmatizer()

nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')

doc_1 = 'Mr Jeremy put on a macintosh, and a pair of shiny shoes; he took his fishing rod and basket, and set off with enormous hops to the place where he kept his boat. The boat was round and green, and very like the other lily-leaves. It was tied to a water-plant in the middle of the pond.'
doc_2 = 'Peter never stopped running or looked behind him till he got home to the big fir-tree. He was so tired that he flopped down upon the nice soft sand on the floor of the rabbit-hole and shut his eyes. His mother was busy cooking; she wondered what he had done with his clothes. It was the second little jacket and pair of shoes that Peter had lost in a week!'

# preprocessing documents

# 1. Lowercase Sentence
doc_1 = doc_1.lower()
doc_2 = doc_2.lower()

# 2. Sentence Splitter
bag_of_words_1 = doc_1.split(' ')
bag_of_words_2 = doc_2.split(' ')

# 3. Stop Word Remove
bag_of_words_1 = [word for word in bag_of_words_1 if word not in stopwords.words('english')]
bag_of_words_2 = [word for word in bag_of_words_2 if word not in stopwords.words('english')]

#print(bag_of_words_1)
#print(bag_of_words_2)

# 4. Punctuation Remove
def remove_puntucation(words):
    for i, word in enumerate(words):
        words[i] = word.translate(str.maketrans('', '', string.punctuation))

remove_puntucation(bag_of_words_1)
remove_puntucation(bag_of_words_2)

# 5. Lemmatize
def lemmatize(words):
    for i, word in enumerate(words):
        words[i] = lemmatizer.lemmatize(word)

lemmatize(bag_of_words_1)
lemmatize(bag_of_words_2)

#print(bag_of_words_1)

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/kilometers/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/kilometers/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /Users/kilometers/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [70]:
bag_of_words_1 = ' '.join(bag_of_words_1)
bag_of_words_2 = ' '.join(bag_of_words_2)

print(bag_of_words_1)

vectorizer = TfidfVectorizer()
vectors = vectorizer.fit_transform([bag_of_words_1, bag_of_words_2])
feature_names = vectorizer.get_feature_names_out()
df = pd.DataFrame(vectors.toarray(), columns=feature_names, index=['Doc 1', 'Doc 2'])

display(df)

mr jeremy put macintosh pair shiny shoe took fishing rod basket set enormous hop place kept boat boat round green like lilyleaves tied waterplant middle pond

,basket,behind,big,boat,busy,clothes,cooking,done,enormous,eye,...,soft,stopped,tied,till,tired,took,upon,waterplant,week,wondered
Doc 1,0.192406,0.000000,0.000000,0.384811,0.000000,0.000000,0.000000,0.000000,0.192406,0.000000,...,0.000000,0.000000,0.192406,0.000000,0.000000,0.192406,0.000000,0.192406,0.000000,0.000000
Doc 2,0.000000,0.166638,0.166638,0.000000,0.166638,0.166638,0.166638,0.166638,0.000000,0.166638,...,0.166638,0.166638,0.000000,0.166638,0.166638,0.000000,0.166638,0.000000,0.166638,0.166638

In [71]:
from sklearn.metrics.pairwise import cosine_similarity

print(cosine_similarity(vectors[0], vectors[1])[0][0])

0.032462428273877166